server:
  port: 8181

spring:

  jpa:
    hibernate:
      ddl-auto: create-drop

    properties:
      hibernate:
        format_sql: true
        show_sql: true
        use_sql_comments: true  # querydsl

decorator.datasource.p6spy:
  enable-logging: true
  multiline: true
  logging: slf4j
  tracing.include-parameter-values: true

logging:
  level:
    com.aptner.v3: debug
    org.hibernate.SQL: error