frontend:
  url: aptner.ha-ving.store:80

server:
    port: 80
    forward-headers-strategy: FRAMEWORK

spring:
    profiles:
        include: hidden

    http:
        encoding:
            charset: UTF-8
    h2:
        console:
            enabled: true
            path: /h2-console
    sql:
        init:
            mode: always

    jpa:
        defer-datasource-initialization: true
        hibernate:
            dialect: org.hibernate.dialect.h2
            ddl-auto: create-drop
        properties:
            hibernate:
                format_sql: true

    redis:
        enabled: false
        host: 127.0.0.1
        port: 6379
        lettuce:
            pool.max-active: 10
            pool.max-idle: 10
            pool.min-idle: 2

    jackson:
        property-naming-strategy: SNAKE_CASE

    servlet:
        multipart:
            enabled: true
            file-size-threshold: 0B
            location: /temp
            max-file-size: 100MB
            max-request-size: 100MB

## docs
springdoc:
    default-produces-media-type: application/json;charset=UTF-8
    default-consumes-media-type: application/json;charset=UTF-8
    swagger-ui:
        path: /api-docs.html
        tags-sorter: alpha
        operations-sorter: alpha
        disable-swagger-default-url: true
        display-request-duration: true
        doc-expansion: none
        show-login-endpoint: true	# login endpoint 인식

    api-docs:
        enabled: true
        path: /api-docs
---

